// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// NAVIGATION
//// --------------------------------------------------------------------------

	// Configuration

	$navigation-is-inline: true; // determine if navigation is inline

	// Style block

	.navigation {
		@include mixins.position($type: sticky, $top: -1px, $z: 5);
		min-height: 10px;
		&.is-sticky {
			.navigation-fixed {
				@include mixins.position($type: fixed, $top: 0, $left: 0, $right: 0);
				padding: theme.$spacing-x4;
				background-color: theme.$color-03;
				border-bottom: 3px solid theme.$color-04;
			}
			.navigation-list {			
				max-width: 1600px;
				padding: 0 theme.$spacing-x3;
				margin: 0 auto;
			}
		}
		.navigation-list {	
			@include mixins.flex-layout((align-items: center));
			@include mixins.gap(theme.$spacing-x2);
		}
	}
	@include mixins.respond-min(theme.$bp-02) {
		.navigation.is-sticky .navigation-fixed {
			padding-left: theme.$spacing-x8;
			padding-right: theme.$spacing-x8;
		}
	}