// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// INDEX (CONTENT)
//// --------------------------------------------------------------------------

	// Style block
	
	.mission-statement {
		text-align: center;
		font-style: italic;
	}
	.level-bar {
		@include mixins.inline-block(top);
		.level-bar-outof {		
			@include mixins.sizing(100%, 20px);
			border: 2px solid theme.$color-02;
			background-color: theme.$color-11;
			background-image: linear-gradient(theme.$color-13 0%, theme.$color-12 50%, theme.$color-11 75%);
			position: relative;
			overflow: hidden;
			.level-bar-progress, .level-bar-shadow {
				@include mixins.sizing(100%, 100%);
			}
			.level-bar-progress {
				background-color: theme.$color-14;
				background-image: linear-gradient(theme.$color-16 0%, theme.$color-15 50%, theme.$color-14 75%);
			}
			.level-bar-shadow {
				border: 2px solid rgba(0, 0, 0, 0.30);
				border-top-width: 3px;
				border-bottom-color: rgba(0, 0, 0, 0.10);
				@include mixins.position($type: absolute, $left: 0, $top: 0);
			}
		}
	}
	