// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// NAVIGATION
//// --------------------------------------------------------------------------

	// Configuration

	$navigation-is-inline: true; // determine if navigation is inline

	// Style block

	.navigation {
		margin: 0 0 theme.$spacing-x8 0;
		.navigation-list {
			margin: 0 -#{theme.$spacing-x1};
			.navigation-list-item {
				@if $navigation-is-inline == true {
					@include mixins.inline-block(middle);
				}
				padding: 0 theme.$spacing-x1;
				margin: 0 0 theme.$spacing-x4 0;
			}
		}
	}