// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// SLIDEOUT
//// --------------------------------------------------------------------------

	// Colors

	$slideout-color-01: theme.$color-07; // overlay
	$slideout-color-02: false; // menu background

	// Configuration

	$slideout-spacing: theme.$spacing-x4; // overall spacing value
	$slideout-header: 40px; // height of header (determines scrollable area)

	// Style block

	.slideout-active-body {
		overflow: hidden;
		.slideout-overlay {
			z-index: 9998;
			opacity: 1;
			visibility: visible;
		}
	}
	.slideout-overlay, .slideout .slideout-menu {
		@include mixins.position($type: fixed);
	}
	.slideout-overlay {
		@include mixins.transition(opacity 0.5s ease-in-out);
		background-color: $slideout-color-01;
		@include mixins.position($top: 0, $bottom: 0, $left: 0, $right: 0);
		z-index: -1;
		opacity: 0;
		visibility: hidden;
		cursor: pointer;
	}
	.slideout {
		@include mixins.position($type: sticky, $top: -1px, $z: 9999);
		min-height: 10px;
		&.is-sticky {
			.slideout-button-fixed {
				@include mixins.position($type: fixed, $top: 0, $left: 0, $right: 0);
				padding: theme.$spacing-x2 theme.$spacing-x4;
				background-color: theme.$color-01;
				border-bottom: 3px solid theme.$color-02;
			}
			.slideout-button {
				margin: 0 theme.$spacing-x4;
			}
		}
		&.slideout-vertical {
			.slideout-menu {
				height: 80%;
				height: calc(100% - calc($slideout-spacing * 2));
				@include mixins.position($left: 0, $right: 0);
				margin: $slideout-spacing auto;
			}
		}
		&.slideout-horizontal {
			.slideout-menu {
				@include mixins.position($top: 0, $bottom: 0);
			}
		}
		.slideout-button {
			margin: 0 0 $slideout-spacing 0;
			.icon-wrapper {
				margin: 0 theme.$spacing-x2 0 0;
			}
		}
		.slideout-menu {
			max-width: 100%;
			border-width: 0;
			border-right-width: 3px;
			z-index: 9999;
			padding: $slideout-spacing;
			.slideout-header {
				margin: 0 0 $slideout-spacing 0;
				height: $slideout-header;
				.slideout-title {
					margin: 0;
					padding-right: theme.$spacing-x2;
					line-height: 1;
				}
				.slideout-close {
					margin-left: auto;
					font-size: functions.em(20px, rem);
					font-family: theme.$font-family-02;
					color: theme.$color-02;
				}
			}
			.slideout-scrollbar {
				overflow-y: auto;
				overflow-x: hidden;
				height: 100%;
				max-height: 90%;
				max-height: calc(100% - ($slideout-header + $slideout-spacing));
				.slideout-content {
					.navigation {
						.navigation-list {
							.navigation-list-item {
								display: block;
								font-size: functions.em(16px, rem);
							}
							.navigation-list-item-separator {
								display: none;
							}
						}
					}
				}
			}
		}
	}
	@include mixins.respond-min(theme.$bp-02) {
		.slideout.is-sticky .slideout-button-fixed {
			padding-left: theme.$spacing-x8;
			padding-right: theme.$spacing-x8;
		}
	}