// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// FORMS
//// --------------------------------------------------------------------------

	// Style block

	button {
		height: 40px;
		line-height: 40px;	
		padding: 0 theme.$spacing-x3;
		background-color: theme.$color-03;
		border: 3px solid theme.$color-02;
		@include mixins.border-radius(10px);
		color: theme.$color-01; 
		@include mixins.ellipsis;
	}