// Use helpers and theme variables
@use '../helpers/_mixins';
@use '../theme/_theme';

//// RESETS
//// --------------------------------------------------------------------------

*,
*:after,
*:before {
	box-sizing: border-box;
}

.pointer {
	cursor: pointer;
}

//// BASE
//// --------------------------------------------------------------------------

body {
	background-color: theme.$color-01;
 	background-image: linear-gradient(160deg, theme.$color-01 35%, theme.$color-02);
	background-attachment: fixed;
	padding: theme.$spacing-x12;
}

.wrapper {
	max-width: 1600px;
	margin: 0 auto;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0 0 theme.$spacing-x6 0;
}

button {
	line-height: 40px;	
	padding: 0 theme.$spacing-x3;
	border: 3px solid theme.$color-03;
	border-radius: 10px;
	background-color: theme.$color-04;
	color: #000000; 
}