// Use helpers and theme variables
@use '../helpers/_mixins';
@use '../theme/_theme';

//// FLEX
//// --------------------------------------------------------------------------

.flex-wrap {
	@include mixins.flex-layout(row wrap);
}

.flex-nowrap {
	@include mixins.flex-layout(row nowrap);
}

.flex-align-center {
	@include mixins.flex-parent(align-items, center);
}

.flex-justify-center {
	@include mixins.flex-parent(justify-content, center);
}

//// HEADER
//// --------------------------------------------------------------------------

.header {
	margin: 0 0 theme.$spacing-x12 0;
	.header-title, .header-button {
		@include mixins.flex(0 1 auto);
	}
	.header-title {
		width: 100%;
		margin: 0 0 theme.$spacing-x3 0;
	}
	.header-button {
		&.spinning {
			@include mixins.animate(animate-spin 1s infinite linear);
		}
		&.spinning-complete {
			.header-button-label-01 {
				display: none;
			}
			.header-button-label-02 {
				display: inline;
			}
		}
		.header-button-label-01 {
		}
		.header-button-label-02 {
			display: none;
		}
	}
}

@include mixins.animate-spin;

//// NAVIGATION
//// --------------------------------------------------------------------------

.navigation {
	margin: 0 0 theme.$spacing-x12 0;
	.navigation-separator {
		&:before {
			content: '-';
			padding: 0 theme.$spacing-x2;
		}
	}
}

.to-top {
	margin: theme.$spacing-x6 0 0 0;
	display: inline-block;
}

//// MISSION STATEMENT
//// --------------------------------------------------------------------------

.mission-statement {
	text-align: center;
	font-style: italic;
}

//// LEVEL BAR
//// --------------------------------------------------------------------------

.level-bar {
	@include mixins.inline-block(top);
	.level-bar-outof {		
		@include mixins.sizing(100%, 20px);
		border: 2px solid theme.$color-03;
		background-color: theme.$color-07;
		background-image: linear-gradient(theme.$color-09 0%, theme.$color-08 50%, theme.$color-07 75%);
		position: relative;
		.level-bar-progress, .level-bar-shadow {
			@include mixins.sizing(100%, 100%);
		}
		.level-bar-progress {
			background-color: theme.$color-10;
			background-image: linear-gradient(theme.$color-12 0%, theme.$color-11 50%, theme.$color-10 75%);
		}
		.level-bar-shadow {
			border: 2px solid rgba(0, 0, 0, 0.30);
			border-top-width: 3px;
			border-bottom-color: rgba(0, 0, 0, 0.10);
			@include mixins.position($type: absolute, $left: 0, $top: 0);
		}
	}
}

//// DETAILS - MAIN LAYOUT
//// --------------------------------------------------------------------------

.detail {
	margin: 0 0 theme.$spacing-x12 0;
	.detail-row {
		margin: 0 -#{theme.$spacing-x3} -#{theme.$spacing-x6} -#{theme.$spacing-x3};
		.detail-column {
			padding: 0 theme.$spacing-x3;
			margin: 0 0 theme.$spacing-x6;
			@include mixins.flex(0 1 auto);
			width: 100%;
			.detail-column-inner {
				border: 3px solid theme.$color-03;
				border-radius: 10px;
				padding: theme.$spacing-x3;
				height: 100%;
				background-color: theme.$color-01;
 				background-image: linear-gradient(160deg, theme.$color-01 35%, theme.$color-02);
			}
			p, .p {
				margin: 0 0 theme.$spacing-x2 0;
				word-break: break-word;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

//// DETAILS - SUPPORTING
//// --------------------------------------------------------------------------

.detail-supporting {
	.detail-row {
		.detail-column-0, .detail-column-1, .detail-column-2 {
			.detail-column-inner .detail-links {
				position: relative;
				padding: 0 0 0 70px;
				&:before {
					content: '';
					display: block;
					@include mixins.sizing(50px, 50px);
					@include mixins.position($type: absolute, $top: 5px, $left: 0);
					background-repeat: no-repeat;
					background-position: 0 0;
					background-size: contain;
				}
			}
		}
		.detail-column-0 .detail-column-inner .detail-links:before {
			background-image: url('../../dist/images/chocobo-01.png');
		}
		.detail-column-1 .detail-column-inner .detail-links:before {
			background-image: url('../../dist/images/chocobo-02.png');
		}
		.detail-column-2 .detail-column-inner .detail-links:before {
			background-image: url('../../dist/images/chocobo-03.png');
		}
	}
}

//// DETAILS - SKELETON
//// --------------------------------------------------------------------------

.detail {
	.detail-row {
		&.detail-row-loaded {
			.detail-column-skeleton {
				display: none;
			}
		}
		.detail-column-skeleton {
			p, .p {
				background-color: theme.$color-03;
				width: 80%;
				opacity: 0.8;
				@include mixins.transition(opacity 0.3s ease);
				&:nth-child(2) {
					width: 60%;
				}
				&:nth-child(3) {
					width: 40%;
				}
				&:nth-child(4) {
					width: 75%;
				}
				&:nth-child(5) {
					width: 50%;
				}
			}
		}
	}
}
