// Use helpers and theme variables
@use '../helpers/_mixins';
@use '../theme/_theme';

//// RESPONSIVE - 768
//// --------------------------------------------------------------------------

@include mixins.respond-min(theme.$bp-02) {
	.detail .detail-row {
		.detail-column-quarter, .detail-column-third, .detail-column-half {
			width: 50%;
		}
	}
}

//// RESPONSIVE - 992
//// --------------------------------------------------------------------------

@include mixins.respond-min(theme.$bp-03) {
	.detail .detail-row {
		.detail-column-quarter, .detail-column-third {
			width: 33.3333%;
		}
	}
}

//// RESPONSIVE - 1200
//// --------------------------------------------------------------------------

@include mixins.respond-min(theme.$bp-04) {
	.header {
		.header-title {
			width: auto;
			margin: 0 theme.$spacing-x6 0 0;
		}
		.header-button {
			margin: 0 0 0 auto;
		}
	}
	.detail .detail-row {
		.detail-column-quarter {
			width: 25%;
		}
	}
}