// Use helpers and theme variables
@use '../helpers/_mixins';
@use '../theme/_theme';

//// FONT FACE
//// --------------------------------------------------------------------------

@font-face {
	font-family: 'Dogica Pixel';
	src: url(theme.$font-path + 'dogica-pixel.woff2') format('woff2'),
		 url(theme.$font-path + 'dogica-pixel.woff') format('woff'),
		 url(theme.$font-path + 'dogica-pixel.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Dogica Pixel Bold';
	src: url(theme.$font-path + 'dogica-pixel-bold.woff2') format('woff2'),
		 url(theme.$font-path + 'dogica-pixel-bold.woff') format('woff'),
		 url(theme.$font-path + 'dogica-pixel-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

//// GENERAL TEXT ELEMENTS
//// --------------------------------------------------------------------------

html, body {
	font-family: theme.$font-family-01;
}

html {
	text-size-adjust: 100%;
	font-size: theme.$font-size-base;
	line-height: 1;
}

body {
	font-size: mixins.em(theme.$font-size-global, rem);
	font-weight: theme.$font-weight;
	line-height: 2;
	color: theme.$color-03;	
	letter-spacing: 1.5px;
}

b, strong {
	font-weight: theme.$font-weight;
	font-family: theme.$font-family-02;
	color: theme.$color-04;
}

a {
	color: theme.$color-04;
	background-color: transparent;
	transition: color 0.3s ease-in-out;
	text-underline-offset: 5px;
	text-decoration: underline;
	text-decoration-color: theme.$color-05;
	&:active, &:hover {
		outline: 0;
		color: theme.$color-03;
	}
}

//// HEADERS
//// --------------------------------------------------------------------------

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h6, .h6 {
	font-family: theme.$font-family-02;
	color: theme.$color-03;
	line-height: 2.2;
	a {
		color: inherit;
		&:hover {
			color: theme.$color-04;
		}
	}
}

h1, .h1 {
	font-size: mixins.em(22px, rem);
}

h2, .h2 {
	font-size: mixins.em(20px, rem);
}

h3, .h3 {
	font-size: mixins.em(18px, rem);
}

h4, .h4 {
	font-size: mixins.em(16px, rem);
}

h5, h6, .h5, .h6 {
	font-size: mixins.em(16px, rem);
}