// Use helpers and theme variables
@use '../helpers/_mixins';
@use '../theme/_theme';

//// BASE
//// --------------------------------------------------------------------------

body {
	background: theme.$color-02;
	padding: 50px;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
}